body {
    background: darkolivegreen;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: darkorange;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 7px;
    border: darkorange solid 1px;
}